/* Load fonts */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.set-max-width {
	border: 0;
	max-width: 60em;
	margin: auto;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
}

.set-limit-width {
	border: 0;
	max-width: 60em;
	margin: auto;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
}

body {
	margin: 0;
}

/* General declarations */
/* body {
	border: 0; 
	max-width: 60em;
	margin: auto;
	padding: 1em;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
} */

h1 {
	/* text-align: center; */
	color: #000;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 110%;
	margin: 0 0 0.5em 1em;
	padding: 0;
}

/* p,
ul,
ol,
iframe,
table,
figure,
pre,
code {
	text-align: justify;
	margin: 0 0 1em 1em;
	padding: 0;
	width: calc(100% - 1em);
} */

pre,
code {
	background-color: #f0f0f0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	font-size: 90%;
	width: calc(100% - 3em);
}

img,
iframe {
	border: none;
}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 0.25em;
	border: 1px solid #c0c0c0;
}

th {
	font-weight: bold;
	background-color: rgb(228 240 245);
}

li {
	margin: 0 0 0.5em 1em;
}

li.contact-detail {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-right: 1em;
	margin-left: 0;
}

a {
	color: #1772d0;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	color: #f09228;
	text-decoration: none;
}

/* Header material */
/* Lab logo and personal photo */
#logo,
#photo {
	float: right;
	margin-left: 2em;
}

/* Navigation lists */
nav>ul {
	margin-left: 0;
	list-style-type: none;
	font-weight: bold;
	font-size: 110%;
}

nav>ul>li {
	/* display: inline-block; */
	margin-right: 1em;
	margin-left: 0;
}

/* Teaser figure in header */
#teaser>img {
	width: 100%;
	margin: 0 0 0.5em 0;
}

#teaser>figcaption {
	font-style: italic;
	font-size: 90%;
}

/* Personal information */
/* Personal can potentially be merged into nav, though this is not semantically sound */
#personal {
	list-style-type: none;
	font-weight: bold;
	font-size: 110%;
}

#personal>li {
	display: inline-block;
	margin-right: 1em;
	margin-left: 0;
}

#personal>li.group {
	display: list-item;
}

/* List of papers in personal website */
figure.entry img {
	display: inline-block;
	box-sizing: border-box;
	height: 5em;
	width: 5em;
	vertical-align: middle;
	object-fit: cover;
}

figure.entry figcaption {
	display: inline-block;
	width: calc(100% - 1em - 5em);
	vertical-align: middle;
}

figure.entry figcaption p {
	margin-bottom: 0;
}

/* Different galleries: competitions, authors */
figure.gallery,
iframe.gallery,
figure.person {
	display: inline-block;
	text-align: center;
	margin: 0 1em 1em 1em;
	width: calc(50% - 3em);
}

figure.gallery img {
	display: inline-block;
	margin: auto;
	max-width: 100%;
	height: 15em;
}

figure.person img {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

figure.gallery figcaption,
figure.person figcaption {
	margin-top: 0.25em;
	text-align: center;
}

.award {
	color: #f09228;
	margin-left: 1em;
}

.distinction {
	margin-left: 1em;
}

/* For course competitions */
.fa-trophy {
	color: #f09228;
}

/* Copy button for bibtex entries */
.copy {
	position: relative;
	float: right;
	border: none;
	/* background-color: #e7e7e7; */
	border-radius: 0.25em;
	padding: 0.25em;
}

.copy:focus,
.copy:hover,
.copy:active {
	background-color: #d0d0d0;
	cursor: pointer;
}

/* Footer material */
footer {
	font-style: italic;
}




/* Custom CSS Starts here */

#top-main-container {
	padding-top: 0;
	padding-bottom: 0;
}


/* Bachelor */
.bachelor-degree {
	display: flex;
	justify-content: space-between;
}

.bachelor-university {
	display: flex;
	justify-content: space-between;
}

#bachelor-limit-container {
	padding-top: 0;
}

/* Masters */
.masters-degree {
	display: flex;
	justify-content: space-between;
}

.masters-university {
	display: flex;
	justify-content: space-between;
}

#masters-limit-container {
	padding-top: 0;
	padding-bottom: 0;
}

#personal {
	list-style-type: lower-greek;
	font-weight: normal;
}

#ultimate-research-goal {
	text-align: unset;
	margin: 0;
}

#ultimate-research-goal h3 {
	margin: 0 0 0.5em 0.4em;
	padding: 0;
}


table {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
	/* width: calc(100% - 1em); */
	width: 100%;
}

/* Below CSS Selector means - all td tags except (with id term-credits and id term-gpa) */
td:not(#term-credits, #term-gpa, #term-cgpa) {
	text-align: center;
}

thead,
tfoot {
	background-color: rgb(228 240 245);
}

/* BLOCKED style on bachelor table 
	remove class name from the begining to apply to both tables
	or create separate one for bachelor-terms-list
*/
.masters-terms-list tbody > tr:nth-of-type(odd) {
  background-color: rgb(237 238 242);
}

/* Script would be appropriate */
/* .bachelor-terms-list tbody tr:nth-of-type(odd) {
  background-color: rgb(237 238 242);
} */

/* Use below source to adjust undergraduate table design */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */

#term-credits,
#term-gpa,
#term-cgpa {
	text-align: right;
}

tfoot td {
	font-weight: bold;
}


.education-horizontal-rule {
	padding: 0;
	margin: 0;
}

/* 
ul.semester-terms-list {
	padding: 0;
} */

li.term {
	font-weight: bold;
	margin: 0 0 1em 0;
}

ul.totals {
	padding: 0;
	font-weight: normal;
}



/* .bachelor-duration-inline {
	align-content: center;
	visibility: visible;
}

.bachelor-location-inline {
	align-content: center;
	visibility: visible;
} */

/* .bachelor-credentials {
	line-height: 1.2;
} */


/* MEDIA QUERIES BELOW ARE FOR TOGGLING RIGHT ELEMENTS OF EACH EDUCATION */

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (min-width:320px) {

	/* Bachelors */
	.bachelor-duration-inline {
		align-content: center;
		display: none;
	}

	.bachelor-location-inline {
		align-content: center;
		display: none;
	}


	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: none;
	}

	.masters-location-inline {
		align-content: center;
		display: none;
	}
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (min-width:481px) {
	.bachelor-duration-inline {
		align-content: center;
		display: none;
	}

	.bachelor-location-inline {
		align-content: center;
		display: none;
	}

	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: none;
	}

	.masters-location-inline {
		align-content: center;
		display: none;
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px) {
	.bachelor-duration-inline {
		align-content: center;
		display: none;
	}

	.bachelor-location-inline {
		align-content: center;
		display: none;
	}

	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: none;
	}

	.masters-location-inline {
		align-content: center;
		display: none;
	}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {
	.bachelor-duration-inline {
		align-content: center;
		display: none;
	}

	.bachelor-location-inline {
		align-content: center;
		display: none;
	}

	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: none;
	}

	.masters-location-inline {
		align-content: center;
		display: none;
	}
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {
	.bachelor-duration-inline {
		align-content: center;
		display: unset;
	}

	.bachelor-location-inline {
		align-content: center;
		display: unset;
	}

	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: unset;
	}

	.masters-location-inline {
		align-content: center;
		display: unset;
	}
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
	.bachelor-duration-inline {
		align-content: center;
		display: unset;
	}

	.bachelor-location-inline {
		align-content: center;
		display: unset;
	}

	/* Masters */
	.masters-duration-inline {
		align-items: center;
		display: unset;
	}

	.masters-location-inline {
		align-content: center;
		display: unset;
	}
}





/* MEDIA QUERIES BELOW ARE FOR TOGGLING text-align: unset from mobile screens */


/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (min-width:320px) {

	p {
		text-align: unset;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		padding: 1em;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.alzheimer-stats-list {
		padding: 0;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: none;
	}

	li.term {
		font-weight: bold;
		margin: 0 0 1em 0;
	}

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (min-width:481px) {

	p {
		text-align: unset;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		padding: 1em;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-right: 5px;
	}

	.alzheimer-stats-list {
		padding: 0;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: none;
	}

	li.term {
		font-weight: bold;
		margin: 0 0 1em 0;
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px) {

	p {
		text-align: unset;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		padding: 1em;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.alzheimer-stats-list {
		padding: 0;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: none;
	}

	li.term {
		font-weight: bold;
		margin: 0 0 1em 0;
	}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {

	p {
		text-align: unset;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		padding: 1em;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.alzheimer-stats-list {
		padding: 0;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: none;
	}

	li.term {
		font-weight: bold;
		margin: 0 0 1em 0;
	}

}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {

	p {
		text-align: justify;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-left: 40px;
		padding-right: 10px;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: disc;
	}

	li.term {
		font-weight: bold;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 1em;
		margin-left: 1em;
	}
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {

	p {
		text-align: justify;
		margin: 0 0 1em 1em;
		padding: 0;
		width: calc(100% - 1em);
	}

	.set-max-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.set-limit-width {
		border: 0;
		max-width: 60em;
		margin: auto;
		font-family: 'Lato', Verdana, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	.alzheimer-stats-container {
		border-color: blue;
		border-style: solid;
		border-width: 5px;
		font-size: 16px;
		padding-left: 40px;
		padding-right: 10px;
	}

	ul.semester-terms-list {
		padding: 0;
		list-style-type: disc;
	}

	/* All descendants of ul.semester-terms-list, * meaning 
		all elements nested inside of this element.
	*/
	/* ul.semester-terms-list * {
		margin-left: 0;
	} */

	li.term {
		font-weight: bold;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 1em;
		margin-left: 1em;
	}
}



/* REMEMBER */
/* 
While writing CSS, be extremely specific with CSS Selector.
For instance, use `ul.semester-terms-list` and avoid `.semester-terms-list`

The above method would ALWAYS prevent CSS from breaking the site styles.
It will be easy-to-debug and can prevent inheritance of unnecessary CSS styles of parent element.
*/